* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --generalfont: "Cormorant Garamond";
  --goldenColor: #c5b381;
  --wheatColor: #f6faed;
}

/* vvvv-----------------  header NAVBAR -----------------------vvvv */
.headernav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
}
.burgermenu {
  align-self: center;
}
#menu-btn-svg {
  width: 46px;
  height: 46px;
  justify-self: center;
  cursor: pointer;
}
.changeOpacity {
  opacity: 0;
}
.logo-image {
  grid-column: 2;
  justify-self: center;
}
.logo-image img {
  height: 50px;
}

.icons {
  display: none;
  justify-content: end;
  align-items: center;
}
.carticon {
  padding-right: 3vw;
}
.da,
.eng {
  padding-right: 1vw;
  font-family: var(--generalfont);
  font-size: 0.9rem;
}
/* vvvv-----------------  SLIDE NAVBAR -----------------------vvvv */

.slideout-nav {
  font-family: var(--generalfont);
  display: flex;
  justify-content: space-between;
  height: 100vh;

  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
  transform: translate(-101vw, 0px);
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
}
#slideout-menu a {
  padding: 10px 10px 10px 0px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  transition: 0.1s;
  opacity: 0.9;
  white-space: nowrap;
}

.slideout-nav .btn-close {
  position: absolute;
  top: 0;
  left: 2px;
  font-size: 36px;
  margin-right: 50px;
}
.firsthalf {
  padding: 60px 7vw 15vw 4vw;
  overflow-y: scroll;
  scrollbar-width: none;
  width: 100%;
}
.secondhalf {
  display: grid;
  align-content: center;
  cursor: pointer;
}
.asidecontainer {
  display: none;
}

.paragraph {
  display: none;
}
.menucontent {
  width: 100%;
  padding: 120px 3vw 0 0;
}
.searchbar {
  width: 100%;
  height: 30px;
  margin-bottom: 10vw;
  display: flex;
  justify-content: center;
}
#searchicon {
  height: 100%;

  border-right: 1px solid black;
}
.searchicon {
  height: 30px;
  width: 40px;
}
.searchbar input {
  width: 100%;
  padding-left: 1vw;
}

.searchbar input,
#searchicon {
  border-top: 1px solid var(--goldenColor);
  border-left: 1px solid var(--goldenColor);
  border-bottom: 1px solid var(--goldenColor);
}
.categoryheader1,
.categoryheader2,
.categoryheader3 {
  font-weight: 900;
  text-transform: uppercase;
}
.categoryheader2,
.categoryheader3 {
  margin-top: 6vw;
}
.subcategories1,
.subcategories2,
.subcategories3 {
  display: flex;
  flex-direction: column;
  margin-top: 1vw;
  padding: 0;
}
.subcategories1 li,
.subcategories2 li,
.subcategories3 li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--goldenColor);
}
.subcategories1 a:hover,
.subcategories2 a:hover,
.subcategories3 a:hover {
  scale: 1.05;
  transform-origin: center left;
}
/* vvvv-----------------  JS CLASSES -----------------------vvvv */

.additionalWidth {
  transform: translate(0, 0);
}

.additionalOpacity {
  background-color: rgba(255, 255, 255, 1);
}
.additionalOpacityWelcome {
  opacity: 0.5;
  transition: 0.5s ease-in-out;
}

.noClickEvents {
  pointer-events: none;
}

/* --------------------Burgermenu animation------------------ */

.lineOne {
  transform: rotate(45deg) translate(-3px, 10.5px);
  transform-origin: center center;
  transition: 0.5s;
}
.lineTwo {
  transform: translateX(-50px);
  opacity: 0;
}
.lineThree {
  transform: rotate(-45deg) translate(4px, -9px);
  transform-origin: center center;
  transition: 0.5s;
}

/* -----------------------main------------------------ */
main {
  display: grid;
  grid-template-columns: 1fr;
}
.background {
  width: auto;
}
.welcome {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1/-1;
  grid-row: 1;
}
.welcome img {
  width: 100%;
  scale: 1.4;
}
#bg {
  object-fit: cover;
  object-position: -6px 50px;
}
.bgimgcontainer {
  width: 100%;
  grid-column: 1/-1;
  grid-row: 1;
  z-index: 0;
  overflow-x: hidden;
}
video {
  width: 100%;
}
.buttons {
  display: flex;
  position: relative;
  grid-column: 1/-1;
  grid-row: 1;
  align-self: flex-start;
  flex-direction: column;
  margin: 0 auto 0 auto;
  z-index: 4;
  padding-top: 140vw;
}
.shopnow {
  width: 200px;
  height: 35px;
  margin-bottom: 1vw;
  border: #f6faed;
  color: var(--wheatColor);
  border-radius: 0;
  background-color: rgba(197, 179, 129, 0.8);
  border: 1px solid rgba(246, 250, 237, 0);
  cursor: pointer;
}
.shopnow:hover {
  background-color: rgba(197, 179, 129, 1);
  border: 1px solid rgba(246, 250, 237, 1);
  scale: 1.02;
}
.about {
  width: 200px;
  height: 35px;
  border-radius: 0;
  border: none;
  color: var(--goldenColor);
  background-color: rgba(246, 250, 237, 0.8);
  border: 1px solid rgba(197, 179, 129, 0);
  cursor: pointer;
}
.about:hover {
  background-color: rgba(246, 250, 237, 1);
  border: 1px solid rgba(197, 179, 129, 1);
  scale: 1.02;
}

/* -----------------Product--------------------- */
.listinggrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50vw, 1fr));
  margin: 10vw 0 20vw 0;
  row-gap: 3em;
  column-gap: 1.5em;
}

.product {
  width: 100%;
  font-family: var(--generalfont);
  padding-bottom: 2vw;
}
.itemimg {
  overflow-x: hidden;
}
.itemimg img {
  width: 100%;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.251);
  transition: transform 0.1s;
  border: 1px solid var(--goldenColor);
}
.itemimg img:hover {
  transform: scale(1.01);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.251);
  border: 1px solid var(--goldenColor);
}

.productinfo {
  display: flex;
  justify-content: space-between;
  padding: 4vw 4vw 0 4vw;
}
.productinfo p {
  font-size: 1.1rem;
  font-family: var(--generalfont);
}

/* ---------------Media queries------------------ */

@media (min-width: 400px) {
  #bg {
    object-fit: cover;
    object-position: 0px 50px;
  }

  .shopnow,
  .about {
    width: 250px;
    height: 45px;
  }
  .buttons {
    padding-top: 127vw;
  }
  .productinfo p {
    font-size: 1.2rem;
    font-family: var(--generalfont);
  }
}
@media (min-width: 500px) {
  .listinggrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(47vw, 1fr));
    margin: 5vw 0 20vw 0;
    row-gap: 3em;
    column-gap: 1.5em;
  }
}
@media (min-width: 700px) {
  .buttons {
    padding: 0;
    align-self: center;
  }
  #bg {
    object-fit: cover;
    object-position: 0 -5vw;
  }
  .welcome img {
    scale: none;
  }
  main {
    display: grid;
    grid-template-columns: 45px 1fr;
  }
  .slideout-nav {
    border-right: 1px solid rgba(0, 0, 0, 0);
    width: 35vw;
  }

  .paragraph {
    align-self: start;
    transform: rotate(270deg);
    display: inline;
  }
  .asidecontainer {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    display: grid;
    height: 100vh;
    position: fixed;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
  .asidecontainer:hover {
    background-color: white;
    cursor: pointer;
    transition-duration: 0.3s;
  }
  #menutag {
    font-family: var(--generalfont);
    align-self: center;
    transform: rotate(270deg);
  }
  .listinggrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
    grid-column: 1/-1;
    margin: 0vw 4vw 20vw 8vw;
    row-gap: 3em;
    column-gap: 1.5em;
  }
  .productinfo {
    display: flex;
    justify-content: space-between;
    padding: 1vw 1vw 0 1vw;
  }
  .da,
  .eng {
    font-size: 1rem;
  }
  .icons {
    display: flex;
  }
  video {
    transform: translate(0px, -90px);
  }
}
