* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --generalfont: "Cormorant Garamond";
  --goldenColor: #c5b381;
  --wheatColor: #f6faed;
}

/* vvvv-----------------  header NAVBAR -----------------------vvvv */
.headernav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
  margin-top: 10px;
}
.burgermenu {
  align-self: center;
}
#menu-btn-svg {
  width: 46px;
  height: 46px;
  justify-self: center;
  cursor: pointer;
}
.changeOpacity {
  opacity: 0;
}
.logo-image {
  grid-column: 2;
  justify-self: center;
}
.logo-image img {
  height: 50px;
}

.icons {
  display: none;
  justify-content: end;
  align-items: center;
}
.carticon {
  padding-right: 3vw;
}
.da,
.eng {
  padding-right: 1vw;
  font-family: var(--generalfont);
  font-size: 0.9rem;
}
/* vvvv-----------------  SLIDE NAVBAR -----------------------vvvv */

.slideout-nav {
  font-family: var(--generalfont);
  display: flex;
  justify-content: space-between;
  height: 100vh;

  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
  transform: translate(-101vw, 0px);
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
}
#slideout-menu a {
  padding: 10px 10px 5px 0px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  transition: 0.1s;
  opacity: 0.9;
  white-space: nowrap;
}

.slideout-nav .btn-close {
  position: absolute;
  top: 0;
  left: 2px;
  font-size: 36px;
  margin-right: 50px;
}
.firsthalf {
  padding: 60px 7vw 15vw 4vw;
  overflow-y: scroll;
  scrollbar-width: none;
  width: 100%;
}
.secondhalf {
  display: grid;
  align-content: center;
  cursor: pointer;
}
.asidecontainer {
  display: none;
}

.paragraph {
  display: none;
}
.menucontent {
  width: 100%;
  padding: 120px 3vw 0 0;
}
.searchbar {
  width: 100%;
  height: 30px;
  margin-bottom: 10vw;
  display: flex;
  justify-content: center;
}
#searchicon {
  height: 100%;

  border-right: 1px solid black;
}
.searchicon {
  height: 30px;
  width: 40px;
}
.searchbar input {
  width: 100%;
  padding-left: 1vw;
}

.searchbar input,
#searchicon {
  border-top: 1px solid var(--goldenColor);
  border-left: 1px solid var(--goldenColor);
  border-bottom: 1px solid var(--goldenColor);
}
.categoryheader1,
.categoryheader2,
.categoryheader3 {
  font-weight: 900;
  text-transform: uppercase;
}
.categoryheader2,
.categoryheader3 {
  margin-top: 6vw;
}
.subcategories1,
.subcategories2,
.subcategories3 {
  display: flex;
  flex-direction: column;
  margin-top: 1vw;
  padding: 0;
}
.subcategories1 li,
.subcategories2 li,
.subcategories3 li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--goldenColor);
}
.subcategories1 a:hover,
.subcategories2 a:hover,
.subcategories3 a:hover {
  scale: 1.05;
  transform-origin: center left;
}
/* vvvv-----------------  JS CLASSES -----------------------vvvv */

.additionalWidth {
  transform: translate(0, 0);
}

.additionalOpacity {
  background-color: rgba(255, 255, 255, 1);
}
.additionalOpacityWelcome {
  opacity: 0.5;
  transition: 0.5s ease-in-out;
}

.noClickEvents {
  pointer-events: none;
}
/* --------------------Our story content------------------ */

.ourstory {
  grid-column: 1/-1;
  font-family: var(--generalfont);
  width: 100%;
  margin-bottom: 6vw;
}
.ourstory img {
  width: 100%;
}
.maintext {
  margin: 5vw 9vw;
  font-family: var(--generalfont);
  grid-column: 2;
}
h2 {
  margin: 10px 0;
  grid-column: 2;
  font-size: 2rem;
  font-weight: 300;
}
.borderContainer {
  height: 0.8px;
  background-color: var(--goldenColor);
  width: 50vw;
  margin: 0 auto;
}
.textgrid {
  font-family: var(--generalfont);
}
.textgrid h2,
p {
  text-align: center;
}
.textgrid p {
  margin-top: 10vw;
  padding: 0 4vw 0 4vw;
}
figure {
  display: grid;
  /*   grid-template-columns: 20vw 30vw 30vw 20vw;
 */
  margin: 15vw 0 5vw 0;
  padding-top: 6vw;
}
figure :first-child {
  padding: 0;
  grid-column: 2;
}

figure :last-child {
  padding: 0 1vw 0 0.5vw;
  display: none;
}
/* --------------------Burgermenu animation------------------ */

.lineOne {
  transform: rotate(45deg) translate(-3px, 10.5px);
  transform-origin: center center;
  transition: 0.5s;
}
.lineTwo {
  transform: translateX(-50px);
  opacity: 0;
}
.lineThree {
  transform: rotate(-45deg) translate(4px, -9px);
  transform-origin: center center;
  transition: 0.5s;
}
@media (min-width: 500px) {
  .listinggrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(47vw, 1fr));
    margin: 5vw 0 20vw 0;
    row-gap: 3em;
    column-gap: 1.5em;
  }
}
@media (min-width: 700px) {
  .buttons {
    padding: 0;
    align-self: center;
  }
  #bg {
    object-fit: cover;
    object-position: 0 -5vw;
  }
  .welcome img {
    scale: none;
  }
  main {
    display: grid;
    grid-template-columns: 45px 1fr;
  }
  .slideout-nav {
    border-right: 1px solid rgba(0, 0, 0, 0);
    width: 35vw;
  }

  .paragraph {
    align-self: start;
    transform: rotate(270deg);
    display: inline;
  }
  .asidecontainer {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    display: grid;
    height: 100vh;
    position: fixed;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
  .asidecontainer:hover {
    background-color: white;
    cursor: pointer;
    transition-duration: 0.3s;
  }
  #menutag {
    font-family: var(--generalfont);
    align-self: center;
    transform: rotate(270deg);
  }
  .da,
  .eng {
    font-size: 1rem;
  }
  .icons {
    display: flex;
  }
  .textgrid {
    display: grid;
    grid-template-columns: 20vw auto 20vw;
  }
  .maintext {
    margin: 0;
    padding: 0 5vw;
  }
  .borderContainer {
    grid-column: 2;
  }
  figure {
    display: grid;
    grid-template-columns: 20vw 30vw 30vw 20vw;
    margin: 0 0 5vw 0;
  }
  figure :first-child {
    padding: 0 0.5vw 0 1vw;
  }
  .textgrid p {
    margin-top: 1vw;
    padding: 0 4vw 0 4vw;
  }
  figure :last-child {
    display: block;
  }
}

/*------footer-----*/

footer {
  display: grid;
  grid-template-columns: 45px 100px 1fr 1fr 1fr 1fr 145px;
  grid-template-rows: 18vh 14vh 18vh;
  font-family: var(--generalfont);
}

#footer-line {
  grid-row: 1;
  grid-column: 2/8;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

#copyright {
  width: 1rem;
  height: 100%;
  margin-right: 3px;
  align-self: center;
}

#footerheading {
  font-weight: 600;
}

.footercategories1,
.footercategories2,
.footercategories3 {
}

.footersubcategories1,
.footersubcategories2,
.footersubcategories3 {
  list-style-type: none;
}

.footersubcategories1 a,
.footersubcategories2 a,
.footersubcategories3 a {
  color: black;
  text-decoration: none;
  margin-top: 0.5vh;
}

.footercategoryheader1,
.footercategoryheader2,
.footercategoryheader3 {
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 1vh;
}

#footer_section1 {
  grid-column: 2;
  grid-row: 3;
  justify-self: center;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

#footer_section2 {
  grid-column: 3;
  grid-row: 2;
  justify-self: center;
  align-self: flex-start;
}

#footer_section3 {
  grid-column: 4;
  grid-row: 2;
  justify-self: center;
  align-self: flex-start;
}

#footer_section4 {
  grid-column: 5;
  grid-row: 2;
  justify-self: center;
  align-self: flex-start;
}

#footer_section5 {
  grid-column: 6;
  grid-row: 2;
  justify-self: center;
  align-self: center;
}

.someicon {
  width: 4rem;
}

@media (max-width: 900px) {
  footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 15vh 15vh 15vh 15vh 15vh;
    font-family: var(--generalfont);
  }
  #footer_section1 {
    grid-column: 1;
    grid-row: 6;
    justify-self: flex-start;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-left: 50px;
  }

  #footer_section2 {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
    align-self: center;
  }

  #footer_section3 {
    grid-column: 1;
    grid-row: 3;
    justify-self: center;
    align-self: center;
  }

  #footer_section4 {
    grid-column: 1;
    grid-row: 4;
    justify-self: center;
    align-self: center;
  }

  #footer_section5 {
    grid-column: 1;
    grid-row: 5;
    justify-self: center;
    align-self: center;
  }
  #footer-line {
    grid-row: 1;
    grid-column: 1;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
}
